* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f3f3;
}

.container {
  width: 95%;
  margin: 20px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 55px;
}

label {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.add-btn {
  width: 100%;
  padding: 15px;
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px;
}

.add-btn:hover {
  background: black;
}

h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
}

.controls {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.search-box {
  width: 260px;
}

.dark-btn {
  background: #222;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.dark-btn:hover {
  background: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  font-size: 18px;
}

table th {
  background: #f4f4f4;
  font-size: 20px;
}

.edit-btn {
  background: #18a558;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}
